# Dependencies
**/node_modules/

# Prisma generated client
**/generated/prisma/
**/build/
**/coverage/
**/.nyc_output/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.*
**/.env
**/.env.*

# Runtime / temp
pids/
*.pid
*.seed
*.pid.lock
.temp/
.tmp/
**/.vite/

# OS files
.DS_Store

# Editors / IDEs
.idea/
.project
.classpath
.settings/
*.sublime-workspace
