POSTGRES_USER=competition
POSTGRES_PASSWORD=competition
POSTGRES_DB=competition_managment
POSTGRES_PORT=5434

DATABASE_URL=postgresql://competition:competition@localhost:5434/competition_managment

PORT=4100

# JSON logs for Grafana Alloy
LOG_FILE_PATH=../observability/logs/competition_managment_service.log
# LOG_LEVEL=debug
# LOG_FILE_LEVEL=info
